#questionnaire{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 650px
}
#results{
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    width: 600px
}
.resultsDisplay{
    color: red
}